<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='result.css')}}">
    <title>Cruzar Planilhas</title>
</head>
<body>
    <div class = "container">
        <h1>Base Gerada com Sucesso!!!</h1>
        <p>Verifique o arquivo salvo na pasta <b>Downloads</b> em sua máquina.</p>
        <div class = "container-btn">
            <button><a href="/">Retornar ao início</a></button>
        </div>
    </div>
</body>



</html>