<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='result.css')}}">
    <title>Cruzar Planilhas</title>
</head>
<body>
    <div class = "container">
        <h1>Base Gerada com Sucesso!!!</h1>
        <div class = "container-btn">
            <button><a href="{{ url_for('download_file', filename=result_filename) }}">Baixar arquivo</a></button>
        </div>
    </div>
</body>



</html>